.title {
  text-align: center;
  position: relative;
  color: black;
}

.title h2 {
  font-size: 2rem;
  margin-top: 0;
}

.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.actions {
  margin-top: 2rem;
  text-align: center;
}
